.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto;
}

.form form {
    width: 70%;
    padding: 8px 100px;
    margin-top: 35px;
    background-color: #F6F6F6;
    border-radius: 20px;
    box-shadow: 7px 7px 15px 0px rgba(0, 0, 0, 25%);
}

.form h2 {
    color: #212121;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}